Calculate simple moving averages and exponential moving averages for a given stock
price dataset

In [1]:
import pandas as pd

df = pd.read_csv('indexProcessed.csv')

In [4]:
# Calculate the Simple Moving Average (SMA)
df['SMA'] = df['Close'].rolling(window=3).mean() # 3-day SMA
df['SMA']

0                  NaN
1                  NaN
2          2553.600016
3          2558.799967
4          2581.133301
              ...
104219    66123.510420
104220    66079.942710
104221    66375.052083
104222    66867.778647
104223    67486.382813
Name: SMA, Length: 104224, dtype: float64

In [6]:
# Calculate the Exponential Moving Average (EMA)
df['EMA'] = df['Close'].ewm(span=3, adjust=False).mean() # 3-day EMA
print(df['EMA'])

0          2568.300049
1          2554.200074
2          2553.299988
3          2568.599945
4          2587.850021
              ...
104219    66120.031195
104220    66114.128878
104221    66527.189439
104222    67041.024409
104223    67502.531735
Name: EMA, Length: 104224, dtype: float64

In [8]:
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD,SMA,EMA
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006,NaN,2568.300049
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013,NaN,2554.200074
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987,2553.600016,2553.299988
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987,2558.799967,2568.599945
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013,2581.133301,2587.850021
...,...,...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578,66123.510420,66120.031195
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859,66079.942710,66114.128878
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500,66375.052083,66527.189439
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157,66867.778647,67041.024409
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734,67486.382813,67502.531735